query_interval=60
idle_interval=600

#default
default_event=adventure_run

#地圖種類
adventure_map=1

##d: area
#@range 1~13
#@lv:minimun item lv
#3:>1
#4:>2(no 3)
#there is no area >=6
#but still can set 6~13,
#and it would cause spend more energe and get more exp,
#better chance get better items
#7:>3
#10:>4
#13:>5
adventure_area=13

##dd: stage
#different lv would get diff items.
#@range 1~5
#1:herb
#2:wood
#3:leather
#4:ore
#5:medicine
adventure_stage=3

#3 modes: search, hunt, normal
adventure_mode=normal

#self naming 2 methods
#sell, donate
item_handle=donate
